$font-color: #4e4e4e;

body {
overflow: hidden;
background-color:fafafa;
background-image: url("https://urosbmx.github.io/TRex-Dinosaur-Game/media/backCloud.png");
background-size: contain;
font-family: 'Press Start 2P', cursive;
color: $font-color;
user-select: none;


}



.dino{
    width: 60px;
    height:60px;
    position: absolute;
    bottom:0px;
    background-image: url("https://urosbmx.github.io/TRex-Dinosaur-Game/media/t-rex.pn");
}

.grid{
width: 99vw;
height:250px;
// background-repeat: no-repeat;
background-size: contain;
background-position: 20px -3px ;
position: absolute;
bottom: 0;
background-image: url("https://urosbmx.github.io/TRex-Dinosaur-Game/media/t-rex-background.png");

}
.obstacle{
    position: absolute;
    width:60px;
    height:60px;
    background-image: url("https://urosbmx.github.io/TRex-Dinosaur-Game/media/cacti.png");
    bottom:0px;
    // left: 100px;
    
}

#alert{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}

.score{
    position: absolute;
    right: 10px;
    // top: 

}
.reset{
    background-image: url("https://urosbmx.github.io/TRex-Dinosaur-Game/media/reset.png");
    height:40px;
    width:40px;
    margin: 0 auto;
    // padding:10px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

@keyframes MOVE-BG {
    from {
      transform: translateX(0);
    }
    to { 
      transform: translateX(-187%);
    }
 }
